@media screen and (max-width: 768px) {
    #proyecto-carrusel {
        margin: 10% auto 0 auto;
        flex-direction: row !important;
        width: 80%;
        height: 100px;
        border-radius: 15px;
    }

    .lista-proyectos {
        margin: 10vw auto auto auto;
        flex-direction: column;
        width: 70%;
        height: auto;
        padding: 10px;
        border-radius: 10px
    }

    .contenedor-img-lista-proyectos {
        width: 100%;
        height: auto;
    }

    .titulo-lista-proyectos {
        margin: 5vw auto auto 5vw;
        font-size: 8vw;
        color: rgb(12, 12, 12);
        text-shadow: 10px 7px 10px rgb(0, 0, 0, 0.6);
    }

    .descripcion-lista-proyectos {
        width: 80%;
        text-align: left;
        margin: 5vw auto auto auto;
        font-size: 5vw;
        color: rgb(12, 12, 12);
        text-shadow: 10px 7px 10px rgb(0, 0, 0, 0.6);
    }

    .tecnologias-lista-proyectos {
        display: flex;
        flex-direction: column;
        margin: auto auto auto auto;
    }

    .tecnologias {
        margin: 2vw auto auto auto;
        font-size: 7vw;
        color: rgb(12, 12, 12);
        text-shadow: 7px 4px 10px rgb(0, 0, 0, 0.6);
    }

    .img-tecnologias {
        width: 90%;
        margin: 5vw auto 5vw auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-wrap: wrap;
    }

    .tarjeta-img {
        font-size: 13vw;
        color: black;
    }

    .tecnologia-nombre {
        font-size: 5vw !important;
    }

    @keyframes carruselMostrarTitulo {

        2% {
            font-size: 100%;
            bottom: 0%;
            left: 1.5vw;
            rotate: 0deg;
        }

        15% {
            font-size: 100%;
            rotate: 0deg;
        }

        17% {
            opacity: 1;

        }

        20% {
            font-size: 100%;
            opacity: 0;
            bottom: 0%;
            left: 1.5vw;
            rotate: 90deg;
        }

        100% {
            font-size: 150%;
            opacity: 0;
        }
    }
}