body {
    background-color: rgb(26, 26, 26)
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.img-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-perfil {
    width: 20vw;
    height: auto;
    margin: 2vw 0 0 15vw;
}

.codigo-container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 15vw;
    margin: 4vw 0 0 -10vw;
    z-index: -1;
}

#codigo {
    font-size: 0.6vw;
    font-family: 'VT323', monospace;
    background: linear-gradient(90deg, rgb(26, 26, 26), rgb(10, 186, 77), rgb(26, 26, 26));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.Bienvenida {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 60vw;
    margin: 2vw 0 0 5vw;
    font-size: 1.6vw;
    color: #dfdfd5;
}

.slider-container {
    display: flex;
    flex-direction: column;
    margin: 0 0 0 10%;
    width: 90%;
    padding: 0;
}

.saludoYhola {
    display: flex;
    flex-direction: row;
    padding: 0;
}


#saludo {
    margin: 0 0 0 0vw;
    width: 12%;
    animation: animationSaludo 3s infinite;
    animation-timing-function: ease-in-out;
    transform-origin: 70% 80%;
    padding: 1.5vw;
    display: inline-flex;
    line-height: 1;
}

#hola {
    margin: 3% 0 0 -5%;
    width: 70%;
    flex: 1;
    padding: 0;
}

#slider {
    margin: 0vw 0 0 5%;
    width: auto;
    height: 4em;
    line-height: 4em;
    overflow: hidden;
    vertical-align: bottom;
    padding-top: 0%;
    color: #dfdfd5;

}

#slider span {
    display: block;
    font-size: 5vw;
    color: rgb(10, 186, 77);
    animation: animationWord 7s infinite;
}

.menuSuperior li {
    list-style: none;
    font-size: clamp(20px, 2vw, 100px);
    color: rgb(10, 186, 77);
    padding-top: 3%;
}

.menuSuperior ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

#banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.lenguajes {
    display: flex;
    width: 80%;
    margin: 10vw auto 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000px;
}

.tarjeta {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 1.5%;
    aspect-ratio: 16/9;
    margin: 80px auto 0 auto;
    border-radius: 20px;
    transition: all 0.15s ease-out;
}

.tarjeta img {
    width: 100%;
    border-radius: 20px;
    opacity: 1;
    transition: all 0.15s ease-out;
}

.tarjeta:hover img {
    transform: scale(2) translateY(-20px) translateZ(2vw);
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));

}

.tarjeta:hover {
    transform: translateZ(-3vw);
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));
    transition: all 0.15s ease-out;
}

#contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1vw;
    width: 100%;
    margin-top: 7vw;
}

#contacto div {
    transform-style: preserve-3d;
    width: 15vw;
    perspective: 1000px;
    transition: all 0.15s ease-out;
    position: relative;
}

#contacto div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateZ(100vw);
    z-index: 10;
}

#contacto img {
    width: 4vw;
    height: 4vw;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.15s ease-out;
    animation: animacionIconoContacto 2s ease-out infinite;
}

#contacto div:hover img {
    animation: none;
    transform: scale(0.5);
    justify-content: center;
    filter: blur(5px);
    opacity: 0.5;
}

#contacto p {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: scale(0.1);
    position: relative;
    text-align: center;
    background: linear-gradient(45deg, rgb(10, 186, 77), #dfdfd5, rgb(26, 26, 26));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: blur(5px);
    transition: all 0.2s ease-out;
}

#contacto div:hover p {
    opacity: 1;
    transform: translate(2vw, -1vw) translateZ(10vw);
    filter: blur(0px);
}

#contacto p::after {
    content: "|";
    -webkit-text-fill-color: rgb(10, 187, 77);
    animation: animacionCursor 0.5s infinite;
}

@keyframes animationWord {
    0% {
        transform: translateY(0%);
    }

    20% {
        transform: translateY(-100%);
    }

    40% {
        transform: translateY(-200%);
    }

    60% {
        transform: translateY(-300%);
    }

    80% {
        transform: translateY(-400%);
    }

    100% {
        transform: translateY(-500%);
    }

    120% {
        transform: translateY(-600%);
    }

    140% {
        transform: translateY(-700%);
    }
}

@keyframes animationSaludo {
    0% {
        transform: rotate(0deg);
    }

    15% {
        transform: rotate(2deg) scale(1.4);
    }

    20% {
        transform: rotate(-10deg) scale(1.3);
    }

    25% {
        transform: rotate(10deg) scale(1.4);
    }

    30% {
        transform: rotate(-10deg) scale(1.3);
    }

    35% {
        transform: rotate(10deg) scale(1.4);
    }

    40% {
        transform: rotate(-10deg) scale(1.3);
    }

    45% {
        transform: rotate(10deg) scale(1.4);
    }

    50% {
        transform: rotate(-15deg) scale(1.3);
    }

    65% {
        transform: rotate(-5deg) scale(1.2);
    }

    80% {
        transform: rotate(0deg) scale(0.001);
    }

    90% {
        transform: rotate(0deg) scale(2);
    }

    100% {
        transform: rotate(0deg) scale(1);
    }
}

@keyframes animacionCursor {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

@keyframes animacionIconoContacto {
    0% {
        transform: scale(1);
        opacity: 0.8;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0));
    }

    30% {
        transform: scale(1);
        opacity: 0.8;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0));
    }

    40% {
        transform: scale(1.2);
        opacity: 1;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0.6));
    }

    50% {
        transform: scale(1);
        opacity: 0.8;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0));
    }

    60% {
        transform: scale(1.2);
        opacity: 1;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0.6));
    }

    70% {
        transform: scale(1);
        opacity: 0.8;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0));
    }

    100% {
        transform: scale(1);
        opacity: 0.8;
        filter: drop-shadow(0px 0px 15px rgba(10, 186, 77, 0));
    }
}