@media screen and (max-width: 768px) {
    #lenguajes .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tarjeta-img {
        font-size: 400%;
    }

    .tarjeta p {
        font-size: 150%;
    }

    .titulo h2 {
        font-size: 300%;
    }

    .proyecto {
        width: 100%;
        height: 80vh;
        border-radius: 10px;
    }

    #proyecto-carrusel {
        margin: 10% auto 0 auto;
        flex-direction: column !important;
        width: 80%;
        height: 60vh;
        border-radius: 15px;
    }

    .proyecto h4 {
        font-size: 120%;
        bottom: -90%;
        left: 10%;
        transform: rotate(270deg) translateY(-50%);
        transform-origin: left center;
        animation: carruselMostrarTituloMovil 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);
    }

    .proyecto p {
        font-size: 120%;
    }

    @keyframes carruselMostrarTituloMovil {
        0% {}

        2% {
            font-size: 250%;
            bottom: 35%;
        }

        15% {
            font-size: 250%;
            bottom: 35%;
        }

        17% {
            font-size: 120%;
            bottom: -90%;
        }

        20% {
            font-size: 120%;
            bottom: -90%;
        }
    }


}