@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .menuSuperior {
        width: 100%;
        margin: 5% auto 0 auto;
    }

    .menuSuperior ul {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        padding: 0;
    }

    #banner {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "slider slider" "foto contacto";
    }

    .Bienvenida {
        display: contents;
    }

    .slider-container {
        grid-area: slider;
        margin: 15% 0 0 15%;
        width: 95%;
    }

    #saludo {
        font-size: 10vw;
        gap: 0;
        transform-origin: 90% 90%;
    }

    #hola {
        font-size: 8vw;
        margin: 2.5% 0 0 2%;
    }

    #slider {
        height: 12vw;
        line-height: 12vw;
    }

    #slider span {
        font-size: 10vw;
        margin: 0 0 0 5%;
    }

    .img-container {
        grid-area: foto;
        display: flex;
        margin: 10% 0 0 0;
        width: 100%;
    }

    .img-container img {
        width: 50vw;
        margin: 0 0 0 5%;
    }

    .img-perfil {
        width: 20vw;
        height: auto;
        margin: 2vw 0 0 15vw;
    }

    .codigo-container {
        width: 25vw;
        margin: 4vw 0 0 -20%;
    }

    #codigo {
        font-size: 1.2vw;
        font-family: 'VT323', monospace;
        background: linear-gradient(90deg, rgb(49, 72, 40), rgb(10, 186, 77), rgb(26, 26, 26));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;

    }

    #contacto {
        grid-area: contacto;
        display: flex;
        flex-direction: column;
        gap: 20vw;
        margin: 80% 15% 0 -45%;
    }

    #contacto img {
        width: 10vw;
        height: auto;
    }

}