@media screen and (max-width: 768px) {
    #lenguajes .contenido {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .tarjeta-img {
        font-size: 400%;
    }

    .tarjeta p {
        font-size: 150%;
    }

    .titulo h2 {
        font-size: 300%;
    }

    .proyecto {
        width: 100%;
        height: 80vh;
        transform: skewX(0deg);
    }

    #proyecto-carrusel {
        margin: 10% auto 0 auto;
        flex-direction: column !important;
        width: 80%;
        height: 60vh;
        border-radius: 15px;
    }

    .proyecto h4 {
        font-size: 120%;
        bottom: -90%;
        left: 10%;
        transform: rotate(270deg) translateY(-50%);
        transform-origin: left center;
        animation: carruselMostrarTituloMovil 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);
    }

    .proyecto p {
        font-size: 120%;
    }

    #perfil-sobre-mi {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #texto-sobre-mi {
        padding: 5vw;
        width: 70vw;
        height: 80vw;
        margin: 0 auto 0 auto;
        font-size: 1.5vw;
    }

    #texto-sobre-mi h3 {
        width: 80%;
        height: 60vw;
        text-align: center;
        font-size: 3.5vw;
        margin: auto auto auto auto;
        padding: 1vw;
        border-radius: 10px;
    }

    .texto-sobre-mi-img {
        position: absolute;
        width: 30vw;
        top: 10%;
        left: 5%;
        transform: scaleX(-1);
        opacity: 60%;
    }

    #datos-monitor {
        display: grid;
        grid-template-columns: max-content 1fr;
        width: 70%;
        height: 70vw;
        margin: 0 8vw 0 0;
        padding: 1vw;
        overflow: hidden;
        background-color: rgb(10, 187, 77);
        border-radius: 20px;
        margin: auto auto auto auto;
    }

    .datos-sobre-mi {
        font-family: 'VT323', monospace;
        color: rgb(26, 26, 26);
        font-size: 3vw;
        margin: 1vw 0vw 0 1vw;
    }

    .monitor-codigo {
        display: flex;
        z-index: -10;
        position: absolute;
        top: 20%;
        left: 65%;
        width: 25vw;
    }

    @keyframes carruselMostrarTituloMovil {
        0% {}

        2% {
            font-size: 250%;
            bottom: 35%;
        }

        15% {
            font-size: 250%;
            bottom: 35%;
        }

        17% {
            font-size: 120%;
            bottom: -90%;
        }

        20% {
            font-size: 120%;
            bottom: -90%;
        }
    }


}