.lenguajes {
    display: flex;
    width: 80%;
    margin: 10vw auto 0 auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    perspective: 1000px;
}

.tarjeta {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15vw;
    padding: 1.5%;
    aspect-ratio: 16/9;
    margin: 80px auto 0 auto;
    border-radius: 20px;
    transition: all 0.15s ease-out;
}

.tarjeta img {
    width: 100%;
    border-radius: 20px;
    opacity: 1;
    transition: all 0.15s ease-out;
}

.tarjeta:hover img {
    transform: scale(2) translateY(-20px) translateZ(2vw);
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));

}

.tarjeta:hover {
    transform: translateZ(-3vw);
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));
    transition: all 0.15s ease-out;
}

#proyectosTitulo {
    margin: 10vw auto 0 auto;
    text-align: center;
    color: rgb(10, 187, 77);
    font-size: 7vw;

}

#proyectosTitulo::after {
    content: "|";
    -webkit-text-fill-color: rgb(201, 202, 201);
    animation: animacionCursor 1s infinite;
}


.proyecto {
    flex: 0.5;
    position: relative;
    overflow: hidden;
    width: 7vw;
    border: 1px solid #dfdfd5;
    box-shadow: 0px 0px 10px #dfdfd5;
    border-radius: 20px;
    transform: skew(-10deg);
    animation: carrusel 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);

}

.proyecto a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    opacity: 0;
}

#proyecto-carrusel {
    display: flex;
    flex-direction: row;
    margin: 5% auto 0 auto;
    width: 60%;
    height: 30vw;
    gap: 2vw;
    border-radius: 90% 70% 20% 80%;
}


.proyecto img {
    width: 100%;
    height: 100%;
    object-position: 10% center;
    object-fit: cover;
    transform: skew(10deg);
    animation: carruselOcultarFondo 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);

}

.proyecto h3 {
    font-size: 2vw;
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: #dfdfd5;
    transform: rotate(-90deg);
    animation: carruselOcultarTitulo 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);
}

.proyecto h4 {
    font-size: 5vw;
    position: absolute;
    bottom: 40%;
    left: 25%;
    color: #dfdfd5;
    opacity: 0;
    animation: carruselMostrarTitulo 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);
}

.proyecto p {
    font-size: 2vw;
    position: absolute;
    bottom: 10%;
    left: 15%;
    color: #dfdfd5;
    opacity: 0;
    animation: carruselMostrarTitulo 24s infinite cubic-bezier(0.10, 0.9, 0.5, 1);
}

#proyecto-carrusel {
    width: 90%;
    height: 25vw;
    gap: 3vw;
    border-radius: 10px;
}

.proyecto:hover {
    flex: 16;
    transition: all 0.5s ease-out;
}

.proyecto:hover img {
    transform: scale(1.1) translateY(-20px) translateZ(2vw);
    opacity: 0.3;
    filter: drop-shadow(0px 15px 10px rgba(0, 0, 0, 1));
    transition: all 0.15s ease-out;
}

.proyecto:hover h3 {
    opacity: 0;
    transition: all 0.15s ease-out;
}

.proyecto:hover h4 {
    opacity: 1;
    transition: all 1s ease-out;
}

.proyecto h4::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background-color: #dfdfd5;
    box-shadow: 0 0 10px rgb(10, 187, 77);
    transition: all 1s ease-out;
}

.proyecto:hover p {
    opacity: 1;
    transition: all 1s ease-out;
}

.proyecto:hover h4::after {
    width: 100%;
    transition: all 0.10s ease-out;
}

@keyframes carrusel {
    0% {
        flex: 1;
    }

    15% {
        flex: 8;
    }


    17% {
        flex: 1;
    }

}

@keyframes carruselMostrarTitulo {
    0% {
        opacity: 0;
    }

    15% {
        opacity: 1;
    }

    17% {
        opacity: 0;
    }
}

@keyframes carruselOcultarTitulo {
    0% {
        opacity: 1;
    }

    15% {
        opacity: 0;
    }

    17% {
        opacity: 1;
    }
}

@keyframes carruselOcultarFondo {
    0% {
        opacity: 1;
    }

    15% {
        opacity: 0.2;
    }

    17% {
        opacity: 1;
    }
}

/* Delay carrusel */

#proyecto-carrusel .proyecto:nth-child(1),
#proyecto-carrusel .proyecto:nth-child(1) h3,
#proyecto-carrusel .proyecto:nth-child(1) h4,
#proyecto-carrusel .proyecto:nth-child(1) p,
#proyecto-carrusel .proyecto:nth-child(1) img {
    animation-delay: 0s;
}

#proyecto-carrusel .proyecto:nth-child(2),
#proyecto-carrusel .proyecto:nth-child(2) h3,
#proyecto-carrusel .proyecto:nth-child(2) h4,
#proyecto-carrusel .proyecto:nth-child(2) p,
#proyecto-carrusel .proyecto:nth-child(2) img {
    animation-delay: 4s;
}

#proyecto-carrusel .proyecto:nth-child(3),
#proyecto-carrusel .proyecto:nth-child(3) h3,
#proyecto-carrusel .proyecto:nth-child(3) h4,
#proyecto-carrusel .proyecto:nth-child(3) p,
#proyecto-carrusel .proyecto:nth-child(3) img {
    animation-delay: 8s;
}

#proyecto-carrusel .proyecto:nth-child(4),
#proyecto-carrusel .proyecto:nth-child(4) h3,
#proyecto-carrusel .proyecto:nth-child(4) h4,
#proyecto-carrusel .proyecto:nth-child(4) p,
#proyecto-carrusel .proyecto:nth-child(4) img {
    animation-delay: 12s;
}

#proyecto-carrusel .proyecto:nth-child(5),
#proyecto-carrusel .proyecto:nth-child(5) h3,
#proyecto-carrusel .proyecto:nth-child(5) h4,
#proyecto-carrusel .proyecto:nth-child(5) p,
#proyecto-carrusel .proyecto:nth-child(5) img {
    animation-delay: 16s;
}

#proyecto-carrusel .proyecto:nth-child(6),
#proyecto-carrusel .proyecto:nth-child(6) h3,
#proyecto-carrusel .proyecto:nth-child(6) h4,
#proyecto-carrusel .proyecto:nth-child(6) p,
#proyecto-carrusel .proyecto:nth-child(6) img {
    animation-delay: 20s;
}

/* Delay carrusel texto */