#proyecto-carrusel {
    width: 90%;
    height: 15vw;
}

#mostrador-proyectos {
    display: flex;
    padding: 1vw;
    flex-direction: column;
    margin: 2vw auto auto auto;
}

.proyecto-titulo-contenedor {
    width: 20vw;
    margin: 10% auto auto auto;

}

#proyecto-titulo-escrito {
    font-size: 5vw;
    color: rgb(127, 127, 127);
    font-family: 'VT323', monospace;
}

.lista-proyectos {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 10vw;
    padding: 1vw;
    margin: 2vw auto auto auto;
    border: 1px solid rgba(10, 187, 78);
    border-radius: 25px;
    box-shadow: 10px 10px 10px rgba(10, 187, 78, 0.6);
    background-color: rgba(114, 114, 114, 0.132);
}

.tecnologias {
    margin: 1vw 0 auto 2vw;
    font-size: 1.5vw;
    color: rgb(12, 12, 12);
    text-shadow: 7px 4px 10px rgb(0, 0, 0, 0.6);
}

.tecnologias-lista-proyectos {
    display: flex;
    flex-direction: row;
}

.contenedor-img-lista-proyectos {
    width: 20vw;
    height: 100%;
    overflow: hidden;
    background-color: black;
    border-radius: 10px;
    box-shadow: 7px 7px 5px black;
}

.contenedor-img-lista-proyectos img {
    width: 100%;
    height: auto;
}

.titulo-lista-proyectos {
    margin: 1vw auto auto 2vw;
    font-size: 2vw;
    color: rgb(12, 12, 12);
    text-shadow: 10px 7px 10px rgb(0, 0, 0, 0.6);
}

.contenedor-info-lista-proyectos h1::after {
    content: "|";
    -webkit-text-fill-color: rgb(10, 187, 77);
    animation: animacionCursor 1s infinite;
}

.descripcion-lista-proyectos {
    margin: 1vw auto auto 3vw;
    font-size: 1vw;
    color: rgb(12, 12, 12);
    text-shadow: 10px 7px 10px rgb(0, 0, 0, 0.6);
}

.img-tecnologias {
    width: 40vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tarjeta {
    width: auto;
    margin: 0.5vw 0 0 1vw;
}

.tarjeta-img {
    font-size: 2.5vw;
    color: black;
}

.tecnologia-nombre {
    font-size: 0.6vw !important;
}

.lista-proyectos:hover {
    transform: scale(1.05);
    transition: 0.15s ease-out;
}

.lista-proyectos .contenedor-img-lista-proyectos img:hover {
    transform: scale(1.1);
    transition: 0.1s ease-out;
    opacity: 0.3;
}

@keyframes carruselMostrarTitulo {

    2% {
        font-size: 600%;
        bottom: -5%;
        left: 1.5vw;
        rotate: 0deg;
    }

    15% {
        font-size: 600%;
        rotate: 0deg;
    }

    17% {
        opacity: 1;

    }

    20% {
        font-size: 150%;
        opacity: 0;
        bottom: -5%;
        left: 1.5vw;
        rotate: 90deg;
    }

    100% {
        font-size: 150%;
        opacity: 0;
    }


}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(1) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(1) p {
    animation-delay: 0s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(2) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(2) p {
    animation-delay: 0.1s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(3) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(3) p {
    animation-delay: 0.2s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(4) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(4) p {
    animation-delay: 0.3s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(5) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(5) p {
    animation-delay: 0.4s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(6) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(6) p {
    animation-delay: 0.5s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(7) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(7) p {
    animation-delay: 0.6s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(8) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(8) p {
    animation-delay: 0.7s;
}

.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(9) .tarjeta-img,
.lista-proyectos .contenedor-info-lista-proyectos .tecnologias-lista-proyectos .img-tecnologias .tarjeta:nth-child(9) p {
    animation-delay: 0.8s;
}