@media screen and (max-width: 768px) {
    .tarjeta img {
        width: 200%;
    }

    .proyecto {
        animation: carrusel 24s infinite ease-in-out;
    }

    #proyectos h2 {
        font-size: 350%;
    }

    #proyecto-carrusel {
        margin: 10% auto 0 auto;
    }

    #proyecto-carrusel {
        width: 90%;
        height: 60vw;
        gap: 2vw;
        border-radius: 10px;
    }

    @keyframes carrusel {
        0% {
            flex: 1;
        }

        10% {
            flex: 8;
        }

        25% {
            flex: 1;
        }

        100% {
            flex: 1;
        }
    }

    #proyecto-carrusel .proyecto:nth-child(1) {
        animation-delay: 0s;
    }

    #proyecto-carrusel .proyecto:nth-child(2) {
        animation-delay: 4s;
    }

    #proyecto-carrusel .proyecto:nth-child(3) {
        animation-delay: 8s;
    }

    #proyecto-carrusel .proyecto:nth-child(4) {
        animation-delay: 12s;
    }

    #proyecto-carrusel .proyecto:nth-child(5) {
        animation-delay: 16s;
    }

    #proyecto-carrusel .proyecto:nth-child(6) {
        animation-delay: 20s;
    }
}