@media screen and (max-width: 768px) {
    .tarjeta img {
        width: 150%;
        margin-top: -300%;
    }

    .titulo h2 {
        font-size: 300%;
    }

    .proyecto {
        width: 100%;
        height: 80vh;
    }

    #proyecto-carrusel {
        margin: 10% auto 0 auto;
        flex-direction: column !important;
        width: 80%;
        height: 40vh;
        gap: 1%;
    }

    .proyecto h4 {
        font-size: 200%;
        bottom: 60%;
        left: 10%;
    }

    .proyecto p {
        font-size: 150%;
    }


}