@media screen and (max-width: 768px) {
    .tarjeta img {
        width: 200%;
    }

    #proyectos h2 {
        font-size: 350%;
    }

    #proyecto-carrusel {
        margin: 10% auto 0 auto;
    }

}